---
import Author from './Author.astro';
import Contact from './Contact.astro';

export interface Props {
	post: any;
}
const { post } = Astro.props;
// const { title, author, authorImage, date, image, alt, segmentColor } = Astro.props;
const segmentToColor = {'diagnosis' : 'blue', 'careers' : 'green', 'education': 'red', 'employers' : 'purple'}
const segmentBgStyle = post.segments.length && post.segments.length > 1
                        ? `background-image: linear-gradient(to bottom, ${post.segments.map(segment => `var(--segment-${segmentToColor[segment]}-100)`)});` 
                        : `background-color: var(--segment-${segmentToColor[post.segments]}-100)`;
                        
---
<style>
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
article div header img.hero-image {
	width: 100%;
	height: auto;
    border-radius: 0.375rem;
}
.authors-container {
	position: relative;
	transform: translateY(-4.5rem);
    width: fit-content;
}
.authors {
    display: flex;
    justify-content: center;
}
/* main {
    background-color: var(--segment-purple-100);
} */
.publish-date {
    font-family: 'Ubuntu mono';
    font-size: small;
}
</style>

<div>
	<article>
		<div>
			<header>
				{post.image && <figure>
                    <img class="hero-image" loading="lazy" src={`/assets/blog/${post.image}`} alt={post.alt} />
                    <a href={post.creditURL}><figcaption class="z-10 px-3 italic text-sm">{post.creditText}</figcaption></a>
                </figure>}
				<div class="authors-container px-3">
                    <div class="authors pb-8">
                        {post.author.map((a, index) => <Author name={a} href="https://twitter.com/" authorImage={post.authorImage[index]}/>)}
                    </div>
					<h1 class="title text-4xl font-semibold mb-4">{post.title}</h1>
					<p class="publish-date">{post.date}</p>
				</div>
			</header>
			<main class="tilted flex justify-center" style={segmentBgStyle}>
				<slot />
			</main>
		</div>
	</article>
    <Contact/>
</div>
