---
import Author from './Author.astro';

export interface Props {
	title: string;
	author: string;
	authorImage: string;
	date: string;
	image: string;
	alt: string;
}

const { title, author, authorImage, date, image, alt } = Astro.props;
---
<style>
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
article div header img.hero-image {
	width: 100%;
	height: auto;
}
.author-image {
	position: relative;
	top: -3rem;
}
main {
    background-color: var(--segment-purple-100);
}
.publish-date {
    font-family: 'Ubuntu mono';
    font-size: small;
}
</style>

<div>
	<article>
		<div>
			<header>
				{image && <img class="hero-image" loading="lazy" src={image} alt={alt} />}
				<div class="author-image">
					<Author name={author} href="https://twitter.com/" authorImage={authorImage}/>
					<h1 class="title text-4xl font-semibold mb-4">{title}</h1>
					<p class="publish-date">{date}</p>
				</div>
			</header>
			<main class="flex justify-center">
				<slot />
			</main>
		</div>
	</article>
</div>
