---
import ContactSection from './ContactSection.astro';
import TableOfContents from './TableOfContents.astro';
import { Markdown } from 'astro/components';

export interface Props {
	post: any;
}
const { post } = Astro.props;
// const { title, author, authorImage, date, image, alt, segmentColor } = Astro.props;
const segmentToColor = {'diagnosis' : 'blue', 'careers' : 'green', 'education': 'red', 'employers' : 'purple'}
const segmentBgStyle = post.segments.length && post.segments.length > 1
						? `background-image: linear-gradient(to bottom, ${post.segments.map(segment => `var(--segment-${segmentToColor[segment]}-100)`)});` 
						: `background-color: var(--segment-${segmentToColor[post.segments]}-100)`;
						
---
<style>
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
article div header img.hero-image {
	width: 100%;
	height: auto;
	border-radius: 0.375rem;
}
.authors-container {
	position: relative;
	width: fit-content;
}
.publish-date {
	font-family: 'Ubuntu mono';
	font-size: small;
}

:global(.content a) {
	font-weight: 700;
	text-decoration: underline;
}
/* Tab content - closed */
.tab-content {
	max-height: 0;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
	max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label{
	/*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
	font-size: 1.25rem; /*.text-xl*/
	padding: 1.25rem; /*.p-5*/
	border-left-width: 2px; /*.border-l-2*/
	border-color: #6574cd; /*.border-indigo*/
	background-color: #f8fafc; /*.bg-gray-100 */
	color: #6574cd; /*.text-indigo*/
}
/* Icon */
.tab label::after {
	float:right;
	right: 0;
	top: 0;
	display: block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5;
	font-size: 1.25rem;
	text-align: center;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
/* Icon formatting - closed */
.tab input[type=checkbox] + label::after {
	content: "+";
	font-weight:bold; /*.font-bold*/
	border-width: 1px; /*.border*/
	border-radius: 9999px; /*.rounded-full */
	border-color: #b8c2cc; /*.border-grey*/
}
.tab input[type=radio] + label::after {
	content: "\25BE";
	font-weight:bold; /*.font-bold*/
	border-width: 1px; /*.border*/
	border-radius: 9999px; /*.rounded-full */
	border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
	background-color: #6574cd; /*.bg-indigo*/
	color: #f8fafc; /*.text-grey-lightest*/
}
.tab input[type=radio]:checked + label::after {
	transform: rotateX(180deg);
	background-color: #6574cd; /*.bg-indigo*/
	color: #f8fafc; /*.text-grey-lightest*/
}
section.post {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    background-color: white;
}
</style>

<div>
	<article>
		<div>
			<header>
				{post.image && <figure class="flex mobile:flex-col-reverse sm:flex-col">
					<img class="hero-image" loading="lazy" src={`/assets/example-profiles/${post.image}`} alt={post.alt} />
					<a href={post.creditURL}><figcaption class="z-10 px-3 italic text-sm">{post.creditText}</figcaption></a>
				</figure>}
				<div class="authors-container pointer-events-none px-3">
					<h1 class="title text-4xl font-semibold m-8">{post.title}</h1>
				</div>
			</header>
			<TableOfContents headers={post.headers} tags={post.tags}/>
			<main class="content flex justify-center" style={segmentBgStyle}>
				<section class="post max-w-screen-sm mx-3 p-3">
					<slot />
				</section>
			</main>
		</div>
	</article>
	<ContactSection segments={post.segments}/>
</div>
<script>
/* Optional Javascript to close the radio button version by clicking it again */
var myRadios = document.getElementsByName('tabs2');
var setCheck;
var x = 0;
for(x = 0; x < myRadios.length; x++){
	myRadios[x].onclick = function(){
		if(setCheck != this){
			setCheck = this;
		}else{
			this.checked = false;
			setCheck = null;
		}
	};
}
</script>