---
import BaseHead from '../components/BaseHead.astro';
import Default from './Default.astro';
import BlogPost from '../components/BlogPost.astro';

const { content } = Astro.props;
const {title, description, date, author, authorImage, image, permalink, alt} = content;
---
<style>
section.post {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    background-color: white;
}
li { 
    display: flex;
}
ul, ol { padding-inline: 1rem !important; }
</style>
<Default title={title} description={description} permalink={permalink}>
	<BlogPost title={title} author={author} image={image} authorImage={authorImage} date={date} alt={alt} segmentColor={content.segmentColor}>
		<section class="post max-w-screen-sm mx-3 px-3">
			<slot />
		</section>
	</BlogPost>
</Default>