---
import Default from './Default.astro';
import HeroImage from '../components/HeroImage.astro';
import ContactSection from '../components/ContactSection.astro';

const { content } = Astro.props;
const {title, description, permalink} = content;
// const segments = ['diagnosis', 'careers', 'employers', 'education']

const segmentReasons = ['autism profile',
									'neurodiversity profile',
									'help and advice regarding employment',
									'help and advice around appropriate careers',
									'help and advice around study choices',
									'help with an EHCP',
									'help with EOTAS',
									'workplace assessements',
									'autism and or neurodiversity training or consultancy',
									'best practice recruitment for autism or neurodiversity']
---
<style>
section.post {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	background-color: white;
}
li { 
	display: flex;
}
ul, ol { padding-inline: 1rem !important; }
</style>
<Default title={title} description={description} permalink={permalink}>
	<HeroImage herotitle={content.heroTitle} heroImage={content.heroImage}>
	</HeroImage>
	<article class="w-100 flex justify-center align-center bg-white py-8 my-8">
		<section class="post max-w-screen-sm mx-3 p-3">
			<slot />
		</section>
	</article>
	<ContactSection segments={content.segments}/>
</Default>